.btn {
  border: none;
  background: none;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.btn--primary {
  color: white;
  background-color: hsl(200, 83%, 50%);
}
.btn--primary:hover {
  background-color: hsl(200, 83%, 70%);
}
.btn--danger {
  color: white;
  background-color: hsl(20, 83%, 50%);
}
.btn--danger:hover {
  background-color: hsl(20, 83%, 70%);
}
